language: haskell
ghc:
- 7.8
before_install:
- chmod +x configure.hs
- ./configure.hs
- cabal install cabal-install
script:
- cabal configure --enable-tests --enable-coverage && cabal build && cabal test
after_script:
- mkdir codecov && cd codecov && cabal sandbox init && cabal install codecov-haskell && cd ..
- codecov/.cabal-sandbox/bin/codecov-haskell main
before_deploy:
- chmod +x configure.hs
- ./configure.hs
- cabal install cabal-install
deploy:
  provider: hackage
  username: emink
  skip_cleanup: true
  password:
    secure: Q5ZdRPAZCmRa5UTXYmHXpACXcxtfBTNcjqiTXOyOFJLVmClin0pET3n8Dtb+6ZH2xjl5jda6dWTgGivKH82u7F9SZSUsLotEW6CjbNoNesmhU41ZGew1w3G/S6z+U81Nd4m0kLmcZHaUVgOv5Ist3Z8qP+oB65K14QM675MwVCoP6CMUmamYkMKGwa9uJq5eS/DZS5NG8npD6+NNrWSc96PfdTjxhCJpC/ZsWijzFIWkm6AXDwGPQC2hJ7fjig1ecs+H2jwvtIVSsuFvENm1Tf0zsgK66gkvRNJy4Id6QvNHmCllwE0TpfJRSX3TQMSI90RbHhp0JYrn+bwM4WHK5n2B6fIkDp1gBuFr6ASSUl4jNqj3eIuzAj1BJvGrRTK5xd6vnfkHoXUaSr7VQeCrjyU2LEYmbTU8uOFQeFT/yRDwrAfC7cOcAjVqyKRsqsk/zQE2HzSmUY9FcnUZ2Jmlw0ozNA3LyFEHJn82ZusTaoz8Vqi0sc8qERW+glkm8Z+rJwXmrewXIXR7rRZeuYr03LRQbDBB2LLyYBKNwFZ5g9UUPPuJZK/licSqJud91xiYcPXlg9/n/+L5g1Iv1IQvXfNxq568CiAsccuu5SOYgZnGnjR0k7l+aX7MWWmExaCz3DWKGyMTknvYPAr9HzyzmhJB6CetG3X/dzdenRPmX9g=
  on:
    tags: true
