env:
  - CABALVER=1.18 GHCVER=7.8.3
  - CABALVER=1.22 GHCVER=7.10.1
  - secure: PxRsBm8kl7M0JBRGQ1wgtclRvz++CmpuvNmc4Reu677NCeqTaZ4Pdu0ZOXDWnqcPGbymKXp0/AGyLGV+aPCJ8lQ1aVrf/yj8UjDtvh3dZwU19SWvas6RHZ6ennWYnCwWVN5cQ8jGzB7OSFKXUhtM4qJh74gWQC+vmXdBNzi41Lt0NguFlsZUJt4Bv7r4vjhoD0DLsXaA1Ah5M8bbf/caq4pgTRx55+/wAxN9A8repXPWbZZ2ZUAEEyVoEqvJUboyhI8XzbjrNRpER6nkLyX362ZRTLbUsqwyfCOKZj/sjuFMv7ZEhWXoXdkZEnuDECOCQnhmsxTrxkmcqCAe2o6mnCijnqb5tvVhoa1V4l0UoHtcpwIXq6ESw5KPtKHkimIwR+SKX04zZ1cLFsZNzBNg70ZDSfjnsUYWpJhS0KeJoeHK4/oB56VGPzmgar5rnFTEMqBjZ1ntdYnhsgu4Y/fAUtBfAm1JuxJGM5oww0pLVRzB0vIXOasj9n3iW6OWn4Ps4lMiI3AT/oiyIzjVs7MiyjIyQjEFcgLthkVpDcDx4PviahDT69+c/q7yivNov0c7dSaUW0d6VE4gM9NJI4EO94DEsdjxTxNkYTW4zi+IDyKl7nfPcAgAXHwfnHnxiBUraWyjtmZo7s2KUzXcG1QXvrgmnEMuWKrGNUMpTPyjOJM=

before_install:
 - travis_retry sudo add-apt-repository -y ppa:hvr/ghc
 - travis_retry sudo apt-get update
 - travis_retry sudo apt-get install cabal-install-$CABALVER ghc-$GHCVER # see note about happy/alex
 - export PATH=/opt/ghc/$GHCVER/bin:/opt/cabal/$CABALVER/bin:$PATH

install:
 - cabal --version
 - echo "$(ghc --version) [$(ghc --print-project-git-commit-id 2> /dev/null || echo '?')]"
 - travis_retry cabal update
 - chmod +x configure.hs
 - ./configure.hs
 - cabal install --only-dependencies --enable-tests

script:
- cabal configure --enable-tests --enable-library-coverage && cabal build && cabal test
after_script:
- mkdir codecov && cd codecov && cabal sandbox init && cabal install codecov-haskell && cd ..
- mv dist/hpc/vanilla/* dist/hpc/
- codecov/.cabal-sandbox/bin/codecov-haskell main --token=$CODECOV_TOKEN 2>&1 | grep -v $CODECOV_TOKEN
before_deploy:
- chmod +x configure.hs
- ./configure.hs
deploy:
  provider: hackage
  username: emink
  skip_cleanup: true
  password:
    secure: Q5ZdRPAZCmRa5UTXYmHXpACXcxtfBTNcjqiTXOyOFJLVmClin0pET3n8Dtb+6ZH2xjl5jda6dWTgGivKH82u7F9SZSUsLotEW6CjbNoNesmhU41ZGew1w3G/S6z+U81Nd4m0kLmcZHaUVgOv5Ist3Z8qP+oB65K14QM675MwVCoP6CMUmamYkMKGwa9uJq5eS/DZS5NG8npD6+NNrWSc96PfdTjxhCJpC/ZsWijzFIWkm6AXDwGPQC2hJ7fjig1ecs+H2jwvtIVSsuFvENm1Tf0zsgK66gkvRNJy4Id6QvNHmCllwE0TpfJRSX3TQMSI90RbHhp0JYrn+bwM4WHK5n2B6fIkDp1gBuFr6ASSUl4jNqj3eIuzAj1BJvGrRTK5xd6vnfkHoXUaSr7VQeCrjyU2LEYmbTU8uOFQeFT/yRDwrAfC7cOcAjVqyKRsqsk/zQE2HzSmUY9FcnUZ2Jmlw0ozNA3LyFEHJn82ZusTaoz8Vqi0sc8qERW+glkm8Z+rJwXmrewXIXR7rRZeuYr03LRQbDBB2LLyYBKNwFZ5g9UUPPuJZK/licSqJud91xiYcPXlg9/n/+L5g1Iv1IQvXfNxq568CiAsccuu5SOYgZnGnjR0k7l+aX7MWWmExaCz3DWKGyMTknvYPAr9HzyzmhJB6CetG3X/dzdenRPmX9g=
  on:
    tags: true
