env:
  global:
  - secure: PxRsBm8kl7M0JBRGQ1wgtclRvz++CmpuvNmc4Reu677NCeqTaZ4Pdu0ZOXDWnqcPGbymKXp0/AGyLGV+aPCJ8lQ1aVrf/yj8UjDtvh3dZwU19SWvas6RHZ6ennWYnCwWVN5cQ8jGzB7OSFKXUhtM4qJh74gWQC+vmXdBNzi41Lt0NguFlsZUJt4Bv7r4vjhoD0DLsXaA1Ah5M8bbf/caq4pgTRx55+/wAxN9A8repXPWbZZ2ZUAEEyVoEqvJUboyhI8XzbjrNRpER6nkLyX362ZRTLbUsqwyfCOKZj/sjuFMv7ZEhWXoXdkZEnuDECOCQnhmsxTrxkmcqCAe2o6mnCijnqb5tvVhoa1V4l0UoHtcpwIXq6ESw5KPtKHkimIwR+SKX04zZ1cLFsZNzBNg70ZDSfjnsUYWpJhS0KeJoeHK4/oB56VGPzmgar5rnFTEMqBjZ1ntdYnhsgu4Y/fAUtBfAm1JuxJGM5oww0pLVRzB0vIXOasj9n3iW6OWn4Ps4lMiI3AT/oiyIzjVs7MiyjIyQjEFcgLthkVpDcDx4PviahDT69+c/q7yivNov0c7dSaUW0d6VE4gM9NJI4EO94DEsdjxTxNkYTW4zi+IDyKl7nfPcAgAXHwfnHnxiBUraWyjtmZo7s2KUzXcG1QXvrgmnEMuWKrGNUMpTPyjOJM=
  - secure: q/BCCJyNT1IwLSWTv7QP12fS2U3LOUCHPCc9xPAC9jKWXTiszGzaULCVNpb2xSWSrH78iy4SCOGUkJp7WX4rUjEKCLDq+sftN798MoxQC7Y161a3JpUZgi/t+vrXcD6XXtahRECPCy/KreO/5SOF7/l3XeIuOPXUewDF/VliOLl6UUsELX4CyvOZUGThMHHST/zAPL2e1C6het9KqUzI8bmvvBhyvVu7d00VOAvYKuBSm9smsrfWjNM85OlUpNAXIwFGLuD1ZeBB4HRaFGE2TPreCQr6O3uRAKJoktx8Ee0mIOY3srNnAq1Pg+oNcUN4SgKpImKqSmxfmaZ/31HTGaz0XRjM4lQUxSV3doRuBl5JiuaKseydlgOhXcrRh2qT+uVnejZmf2KX5rseDU1B0Utyur7oUhwFkoy8v/XLdzyZacmiRA928filVeibtbHFM4NZDZPYdUWBwfMylgqXkF6dc3y0zZ0G3AXvtK/aQYprnJR8yyABYOrF+rQiEAPxbsk5BkbCPHvKSlLpbjR6WUuK1ACFPkZqd9Py2FNWjty18uwg+rWfaHwmzY3IyDTKyXQz0vYA1vboIYjJT/7vrRD2EVyZvikH3PCfY9BHlTqEAqHeH1dan0rw3IaLOUUPXTIytNdSIZg7+7HRvUQOTUp/VnNTxhPfSnAR8vsXS3w=
language: java
sudo: false
matrix:
  include:
  - os: linux
    env: CABALVER=1.18 GHCVER=7.8.4 HVR=true
    jdk: oraclejdk8
    addons:
      apt:
        packages:
        - cabal-install-1.18
        - ghc-7.8.4
        sources:
        - hvr-ghc
  - os: linux
    env: CABALVER=1.22 GHCVER=7.10.2 HVR=true
    jdk: oraclejdk8
    addons:
      apt:
        packages:
        - cabal-install-1.22
        - ghc-7.10.2
        sources:
        - hvr-ghc
  - os: osx
before_install:
- if [[ $HVR = "true" ]];
     export PATH=/opt/ghc/$GHCVER/bin:/opt/cabal/$CABALVER/bin:$PATH;
  else
     brew install haskell-stack
  fi
install:
- chmod +x configure.hs && ./configure.hs
- if [[ $HVR = "true" ]];
     cabal update && cabal install --only-dependencies --enable-tests --force-reinstalls
  fi
script:
- if [[ $HVR = "true" ]];
     cabal configure --enable-tests --enable-library-coverage && cabal build && cabal test
  else
     stack install
  fi
after_script:
- if [[ $GHCVER = "7.8.4" ]]; then mvn -f benchmarks/pom.xml test-compile exec:java; fi
- if [[ $GHCVER = "7.8.4" ]]; then chmod +x coverage.sh && ./coverage.sh; fi

deploy:
  - provider: hackage
    username: emink
    skip_cleanup: true
    password:
      secure: Q5ZdRPAZCmRa5UTXYmHXpACXcxtfBTNcjqiTXOyOFJLVmClin0pET3n8Dtb+6ZH2xjl5jda6dWTgGivKH82u7F9SZSUsLotEW6CjbNoNesmhU41ZGew1w3G/S6z+U81Nd4m0kLmcZHaUVgOv5Ist3Z8qP+oB65K14QM675MwVCoP6CMUmamYkMKGwa9uJq5eS/DZS5NG8npD6+NNrWSc96PfdTjxhCJpC/ZsWijzFIWkm6AXDwGPQC2hJ7fjig1ecs+H2jwvtIVSsuFvENm1Tf0zsgK66gkvRNJy4Id6QvNHmCllwE0TpfJRSX3TQMSI90RbHhp0JYrn+bwM4WHK5n2B6fIkDp1gBuFr6ASSUl4jNqj3eIuzAj1BJvGrRTK5xd6vnfkHoXUaSr7VQeCrjyU2LEYmbTU8uOFQeFT/yRDwrAfC7cOcAjVqyKRsqsk/zQE2HzSmUY9FcnUZ2Jmlw0ozNA3LyFEHJn82ZusTaoz8Vqi0sc8qERW+glkm8Z+rJwXmrewXIXR7rRZeuYr03LRQbDBB2LLyYBKNwFZ5g9UUPPuJZK/licSqJud91xiYcPXlg9/n/+L5g1Iv1IQvXfNxq568CiAsccuu5SOYgZnGnjR0k7l+aX7MWWmExaCz3DWKGyMTknvYPAr9HzyzmhJB6CetG3X/dzdenRPmX9g=
    on:
      condition: $GHCVER = "7.8.4"
      tags: true
  - provider: releases
    skip_cleanup: true
    api_key:
      secure: AFR587+4EFXmPhNqjGQCGKmiLVGNdnvnai0foCwiyUJH73gRkte9rRW82FHTxjN8CXsJNV7BEgrwESyvEe7TKt1v5QD6Z5nQggxu/3siDHZpTBTwyuklkb+krqiYM56YLOGsW68dyBxOkHZ99O2WMHk1+Q1Y3JzFhrXwfYixybaOLGGUV7dVGvKVtF3bnfPYrQdIdHPPd73AjNYgWMDSFBjbN5U/ENN2Wp31LSRhoBqhgxjpz8e2cDSEH7zzitZWx+5quV4kH2SilvnGllARMJvxR/juwx/biv/Do6LuyZu0kwVMGoRg13vcroqemZOFojaZuqGnkApNw/fZkQJ9HlxEkxwQJFuXnhUWDYsw0WWia4Pj93D0V7eAPOnh9b7RHO9Gssrcz7rzNcjs9gXJ8h8PTkunfQA11vSchaXLY2SfoGFTaOVfiIp7EW6DDAaDX6lkOgOh7aA2EqS7cv31Jge2q9XfmV/G7x3fizVeNSRT5YUTal8qU9kitmdPhwfElJzp0ytMvv/oBsuQb+ur9uCslMRm7I3JnmxHyZien+JQgr/blC//SelTTVa/7iLkTk6OxfnW9gNsV2C8ZEp4hwmopuNr93MJOV5MPc4XIx87Bq6NB+cRVrLFJMdjP2DAZpReAYDV/14FytwIWiC+BOFlZyQGXGrIMZAfvjlwffo=
    file: dist/build/sync-mht/sync-mht
    on:
      condition: $GHCVER = "7.8.4"
      tags: true
